# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Matlab
*.m~

# Executables
*.exe
*.out
*.app

# Latex files
*-eps-converted-to.pdf
*.out
*.synctex.gz
*.log
*.fdb_latexmk
*.aux
*.fls

# Other
*.fuse_hidden*
.DS_Store
*.sync-conflict*
